.Review {
	text-align: left;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-bottom: 20px;
}

.Review img {
	width: 60px;
	margin: 5px;
}

.ReviewBody {
	margin: 10px 10px 10px 0;
	border: 1px solid lightgrey;
	border-radius: 5px;
}
