.ActiveTagSection {
	width: 100%;
	display: inline-block;
	margin: 10px 0;
}

.ActiveTagSection span {
	margin: 0 5px;
	padding: 5px;
}

.ActiveTagSection span:hover {
	cursor: pointer;
	background-color: darkgray;
	color: black;
}
