.InfoWindow {
	text-align: left;
}

.InfoWindow:hover {
	text-shadow: 0 0 5px #0000ff;
	cursor: pointer;
}

.InfoWindow > a > h5 {
	border-bottom: solid 1px #cacaca;
}

.InfoWindow > a {
	text-decoration: none;
}

.InfoWindow > a > div {
	display: inline-block;
}

.Image img {
	height: 100px;
}

.Image {
	vertical-align: top;
}

.Text {
	max-width: 200px;
	padding-left: 10px;
	font-size: 15px;
}

.Text > div {
	margin-bottom: 5px;
}

.Rating {
	display: inline-block;
}
.Rating > div {
	display: inline-block;
}
